@import "../../../global.scss";

.home-article {
  margin: 5vw;

  @include mobile {
    margin: 5vw 0;
  }
  /* =============article 1=============== */

  .article {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include tablet {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      margin-top: 100px;
      height: auto;
    }

    .informations {
      height: 100%;
      width: 50%;
      padding: 0 50px;
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      @include desktop {
        width: 70%;
      }

      @include tablet {
        text-align: center;
        align-items: center;
        width: 100%;
        margin-top: 5vh;
      }

      @include mobile {
        padding: 0;
      }

      .text {
        text-align: right;
        line-height: 25px;
        color: $colorTextMain;
        margin: 10vh 0;

        @include tablet {
          text-align: center;
          margin: 20px 0;
        }
      }

      a {
        width: fit-content;
        text-align: right;
        border-radius: 100px 30px 100px 30px / 80px 30px 80px 30px;
        padding: 20px 50px;
        background-color: $colorButtonProduitBg;
        color: $colorButtonProduitText;
        text-decoration: none;
        transition: all 0.4s ease-in-out;

        &:hover {
          border-radius: 30px 100px 30px 100px / 30px 80px 30px 80px;
          background-color: $colorTitle;
          color: white;
          transition: all 0.4s ease-in-out;
        }
      }
    }

    .picture {
      min-width: 200px;
      min-height: 200px;
      height: 30vw;
      width: 30vw;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        border-radius: 50%;
      }
    }
  }

  /* =============article 2=============== */

  .article2 {
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    @include tablet {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      margin-top: 100px;
      height: auto;
    }

    .informations {
      height: 100%;
      width: 50%;
      padding: 0 50px;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include desktop {
        width: 70%;
      }

      @include tablet {
        text-align: center;
        align-items: center;
        width: 100%;
        margin-top: 5vh;
      }

      @include mobile {
        padding: 0;
      }

      .text {
        text-align: left;
        line-height: 25px;
        color: $colorTextMain;
        margin: 10vh 0;

        @include tablet {
          text-align: center;
          margin: 20px 0;
        }
      }

      a {
        width: fit-content;
        text-align: right;
        border-radius: 100px 30px 100px 30px / 80px 30px 80px 30px;
        padding: 20px 50px;
        background-color: $colorButtonProduitBg;
        color: $colorButtonProduitText;
        text-decoration: none;
        transition: all 0.4s ease-in-out;

        &:hover {
          border-radius: 30px 100px 30px 100px / 30px 80px 30px 80px;
          background-color: $colorTitle;
          color: white;
          transition: all 0.4s ease-in-out;
        }
      }
    }

    .picture {
      min-width: 200px;
      min-height: 200px;
      height: 30vw;
      width: 30vw;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        border-radius: 50%;
      }
    }
  }
}

/* @media (max-width: 1220px) {
  .home-article {
    .article {
      .informations {
        width: 60%;

        .title {
        }

        .text {
        }

        a {
        }
      }

      .picture {
        img {
          width: 100%;
        }
      }
    }

    .article2 {
      .informations {
        width: 60%;

        .title {
        }

        .text {
        }

        a {
        }
      }

      .picture {
        img {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1104px) {
  .home-article {
    .article {
      .informations {
        .title {
          font-size: 3em;
        }

        .text {
        }

        a {
        }
      }

      .picture {
        
        img {
          
        }
      }
    }

    .article2 {
      .informations {
        .title {
          font-size: 3em;
        }

        .text {
        }

        a {
        }
      }

      .picture {
        img {
        }
      }
    }
  }
}



@media (max-width: 1006px) {
  .home-article {
    margin: 15% 1%;

    .article {
      flex-direction: column-reverse;
      align-items: center;

      .informations {
        width: 90%;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 5%;

        .title {
          text-align: center;
          padding: 5%;
        }

        .text {
          text-align: center;
          width: 100%;
          padding: 5%;
        }

        a {
          text-align: center;
          
        }
      }

      .picture {
        width: 50%;

        img {
        }
      }
    }

    .article2 {
      flex-direction: column-reverse;
      align-items: center;

      .informations {
        width: 90%;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 5%;

        .title {
          text-align: center;
          padding: 5%;
        }

        .text {
          width: 100%;
          text-align: center;
          padding: 5%;
        }

        a {
          text-align: center;
          
        }
      }

      .picture {
        width: 50%;

        img {
        }
      }
    }
  }
} 

@media (max-width: 426px) {
  .home-article {
    

    .article {
    

      .informations {


        .title {
          font-size: 30px;

        }

        .text {
          font-size: 18px;
        }

        a {
          text-align: center;
          
        }
      }

      .picture {
        width: 200px;

        img {
        }
      }
    }

    .article2 {
     

      .informations {
        

        .title {
          font-style: 30px;
        }

        .text {
          font-style: 18px;
        }

        a {
          
          
        }
      }

      .picture {
        width: 200px;

        img {
        }
      }
    }
  }
} 
 */
