@import "../../../global.scss";
.categories {
  margin: 10% 5vw;
  width: 70%;

  @include desktop {
    width: calc(100% - 10vw);
  }

  .list-categ {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .categ {
      position: relative;
      color: $colorNavText;
      cursor: pointer;
      background-color: $colorCategBg;
      font-size: 18px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.5s ;

      svg {
        transform: translate(-50%);
        position: absolute;
        transform: scale(0);
        transition: transform 0.5s ease ;
      }
      p{
        transition: opacity 0.5s 0.5s;
      }

      @include tablet {
        width: 70px;
        height: 70px;
        
      }
      @include mobile {
        width: 60px;
        height: 60px;
        font-size: 17px;
      }

      &:hover {
        background-color: $colorNavText;
        color: $colorCategBg; 
      }
      &:hover svg {
        transition: transform 0.5s ease 0.5s;
        transform: scale(1.2); 
      }
      &:hover p {
        opacity: 0; 
        transition: opacity 0.5s ;
      }
    }

    .selected {
      color: $colorCategBg;
      cursor: pointer;
      background-color: grey; 
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        transform: scale(1.2);
      }
      p{
        opacity: 0;
      }


      @include tablet {
        width: 70px;
        height: 70px;
        
      }
      @include mobile {
        width: 60px;
        height: 60px;
        font-size: 17px;
      }
    }
  }
}
