@import "../../global.scss";

.contact-page {
  position: relative;

  .container-contact {
    padding: 180px 5vw 220px;
  }
  h2 {
    padding: 0 5vw;
    width: 100%;
    text-align: left;
    font-size: 60px;

    @include mobile {
      font-size: 45px;
    }
  }

  .introduction {
    margin: 5vh 0 10vh 0;
    padding: 0 5vw;
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: flex-start;

    p {
      font-size: 18px;
      color: $colorTextMain;

      @include mobile {
        text-align: justify;
        font-size: 16px;
      }
    }
  }
  .formulaire {
    transition: all 1s ease;
    margin: 0 auto 0 auto;
    width: 90%;
    display: flex;
    /* box-shadow: -10px 10px 10px #865a4742; */

    @include tablet {
      flex-direction: column;
    }

    .left {
      z-index: 4;
      width: 50%;
      display: flex;
      flex-direction: column;
      position: relative;

      @include tablet {
        width: 100%;
      }

      img {
        width: 150px;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include tablet {
          top: 300px;
        }
      }

      .hello {
        height: 70%;

        color: rgb(235, 244, 205);
        color: $colorNavBg;
        position: relative;
        @include tablet {
          height: 300px;
          width: 100%;
        }

        .container-hello {
          position: absolute;
          width: 90%;
          height: 50%;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);

          @include desktop {
            width: 80%;
          }
          @include tablet {
            width: 60%;
          }
          @include mobile {
            width: 80%;
          }
        }

        .just {
          position: absolute;
          font-size: 70px;

          @include desktop {
            font-size: 45px;
          }

          @include mobile {
            font-size: 40px;
          }
        }

        .say-hi {
          position: absolute;
          bottom: 0;
          right: 0;
          font-family: "caladea";
          font-size: 110px;
          padding-left: 30%;

          @include desktop {
            font-size: 70px;
          }

          @include mobile {
            font-size: 55px;
          }
        }
      }

      .contact {
        /* background-color: $colorTitle; */
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include tablet {
          height: 150px;
        }

        a {
          padding-top: 60px;
          color: white;

          svg {
            width: 30px;
            height: 30px;

            &:hover {
              color: white;
            }
          }
        }
      }
    }

    .right {
      background-color: white;
      transition: all 1s ease;
      opacity: 0;
      transform: translateX(-100%);
      z-index: 3;
      position: relative;
      width: 50%;
      display: flex;
      flex-direction: column;
      padding: 5vw;

      @include tablet {
        width: 100%;
        transform: translateX(0) translateY(-100%);
        
      }

      &.active {
        transform: translateX(0);
        opacity: 1;

        @include tablet {
          transform: translateY(0);

        }
      }

      label {
        color: $colorNavText;
        letter-spacing: 2px;
        font-size: 20px;

        @include mobile {
          font-size: 16px;
        }
      }

      input {
        padding: 10px;
        border: none;
        outline: none;
        background-color: rgb(255, 246, 246);
        color: $colorNavText;
        background-color: transparent;

        margin-bottom: 20px;
        border-bottom: 1px $colorNavText solid;

        &:focus {
          font-size: 1.1em;
        }
      }

      textarea {
        border: none;
        outline: none;
        background-color: rgb(255, 246, 246);
        background-color: transparent;
        color: black;
        padding: 10px 10px 15% 10px;
        margin-bottom: 50px;
        border-bottom: 1px $colorNavBg solid;
        resize: none;

        &:focus {
          font-size: 1.1em;
          color: black;
        }
      }

      .checkout {
        background-color: white;
        position: relative;
        cursor: pointer;
        border: 1px solid $colorNavText;
        outline: none;

        &:hover .s1 span {
          transform: translateY(-100%) rotateX(-90deg);
        }
        &:hover .s2 span {
          transform: translateY(0%) rotateX(0deg);
        }

        .span-container {
          padding: 10px 17px;
        }
      }

      .checkout span {
        font-family: "Caladea", sans-serif;
        color: $colorNavText;
        transition: 0.4s;
        will-change: transform;
        display: inline-block;
        font-size: 25px;
        @include mobile {
          font-size: 20px;
        }
      }

      .s1 span {
        transform-origin: bottom;
      }

      .s2 span {
        transform-origin: top;
        transform: translateY(100%) rotateX(-90deg);
      }

      .s2 {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    

      .form-message {
        position: absolute;
        transition: all 0.5s;
        font-style: italic;
        text-align: center;
        padding: 10px;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        opacity: 0;
      }
    }
  }
}
