@import "../../global.scss";
.product-showcase {
  position: relative;
  padding: 90px 5vw;
  margin-bottom: 5%;
  display: flex;
  height: 100vh;

  @include tablet {
    flex-direction: column;
    height: auto;
  }

  .product-left {
    cursor: all-scroll;
    width: 50%;
    overflow-y: auto;
    height: calc(100vh - 10vh);
    position: relative;

    @include tablet {
      width: 100%;
      overflow-y: visible;
      height: auto;
    }
    img {
      width: 100%;
    }

    
  }

  ::-webkit-scrollbar {
    width: 3px;
    height: 1px;
  }

  .product-right {
    
    position: relative;
    width: 50%;
    height: calc(100vh - 10vh);
    padding: 7vh 5vw 7vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1em;

    @include tablet {
      width: 100%;
      height: auto;
      margin: 5vh 0 0 0;
      padding: 5vh 0 0 0;
      font-size: 0.9em;
      text-align: center;
    }

    .general-information {
      flex: 0.8;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .title-product {
        @include tablet {
          margin-bottom: 5vh;
          
        }
      }

      @include tablet {
        margin-bottom: 5vh;
        
      }
    }

    .color {
      margin-bottom: 2vh;
      @include tablet {
        margin: 5vh 0;
      }
      span {
        letter-spacing: 1px;
        margin-right: 15px;
      }
      ul {
        display: flex;
        

        @include tablet {
          justify-content: center;
          align-items: center;
        }
        

        li:not(li:last-child) {
          margin-right: 20px;
          
        }
      }
    }

    .dimensions {
      span {
        letter-spacing: 1px;
      }

      p{
        margin-bottom: 2vh;
      }
      @include tablet {
        margin-bottom: 5vh;
      }
    }

    .price {
      span {
        letter-spacing: 1px;
      }
    }

    .add-container {
      
      display: flex;
      justify-content: space-around;
      align-items: center;
      .input-container {
        
       /* background-color: $colorTitle; 
       height: 20px;
       
       display: flex;
       justify-content: center;
       align-items: center;
       position: relative;
       border-radius: 10px;
       padding: 5px;

       span {
         margin: 0 5px;
         display: flex;
         justify-content: center;
         align-items: center;
         flex: 0.3;
         font-size: 1.5em;
        
        color: black;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
       } */
      }
      input {
        padding: 5px;
        /* padding: 5px;
        border-radius: 10px;
        flex: 0.7;
        text-align: center;
        font-size: 1em;
        border: none;
        background-color: white;
        width: 50px;
        
        

        &::-webkit-inner-spin-button {
          appearance: none;
        } */
        
      }

      button {
        width: 200px;
        height: 50px;
        background-color: transparent;
        padding: 10px 17px;
        cursor: pointer;
        border: 1px $colorTitle solid;
        position: relative;
        overflow: hidden;
        transition: 0.5s all;
        &:hover {
          transform: scale(1.1);
        }
 

        span {
          position: absolute;
          right: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 18px;
          
         
        }

        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: -100%;
          width: 100%;
          bottom: 0;
          background-color: $colorTitle;
          transition: left 0.5s ease;
        }

        &:hover::before {
          left: 0;
        }

        /* background-color: transparent;
        padding: 10px 17px;
        border: 1px solid $colorTitle;
        font-size: 1.1em;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        &:hover {
          
          background-color: $colorTitle;
          color: white;
          
        } */
      }
    }

    .sold-out-showcase {
      transition: 0.5s all ease;
      color: rgb(160, 82, 82);
      font-size: 50px;
      letter-spacing: 3px;
      font-weight: bold;
      text-align: center;
    }

    .navigation {
      position: absolute;
      top: 0px;
      right: 10px;

      @include tablet {
        top: 110%;
        right: 50%;
        transform: translateX(50%);
      }

      button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid $colorTitle;
        cursor: pointer;
        transition: all 0.3s;

        @include tablet {
          font-size: 0.9em;
          width: 40px;
          height: 40px;
        }

        &:hover {
          background-color: $colorTitle;
          color: white;

        }
      }
    }
  }
}
