@import "../../global.scss";
.product-showcase {
  position: relative;
  

  .product-showcase-container {
    margin: 90px 5vw ;
    
    display: flex;
    height: 100vh;

    @include tablet {
      flex-direction: column;
      height: auto;
      margin: 90px 5vw 300px;
    }
    
  }

  .product-left {
    cursor: none;
    width: 50%;
    overflow-y: scroll;
    height: calc(100vh - 10vh);
    position: relative;

    @include tablet {
      width: 100%;
      overflow-y: visible;
      height: auto;
    }
    img {
      width: 100%;
    }

    .cursor {
      padding: 20px;
      border: 1px white solid;
      color: white;
      position: fixed;
      pointer-events: none;
      border-radius: 50%;
      opacity: 0;
    }
  }

  ::-webkit-scrollbar {
    width: 3px;
    height: 1px;
  }

  .product-right {
    position: relative;
    width: 50%;
    height: calc(100vh - 10vh);
    padding: 7vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1em;
    @include desktop {
      font-size: 0.8em;
    }

    @include tablet {
      width: 100%;
      height: auto;
      margin: 5vh 0 0 0;
      padding: 5vh 0 0 0;
      font-size: 0.9em;
      align-items: center;
    }

    .title-product {
      font-size: 50px;
      color: $colorTitle;
      margin-bottom: 5vh;

      @include desktop {
        font-size: 30px;
      }
    }

    .characteristic-product {
      color: $colorTextMain;
      width: 60%;

      @include tablet {
        width: 90%;
      }

      .description-product {
        margin-bottom: 4vh;
      }

      .color {
        border-top: 1px solid $colorTextMain;
        padding-top: 2vh;
        margin-bottom: 1vh;
        display: flex;
        span {
          margin-right: 10px;
        }

        ul {
          display: flex;

          li {
            margin-right: 10px;
          }
        }
      }

      .dimensions {
        border-bottom: 1px $colorTextMain solid;
        padding-bottom: 2vh;
        margin-bottom: 4vh;
        span {
          margin-right: 10px;
        }
        .height {
          margin-bottom: 1vh;
        }
      }

      .price {
        font-weight: bolder;
        font-size: 25px;
        color: $colorTextMain;
        margin-bottom: 4vh;
        @include mobile {
          font-size: 22px;
        }
      }
    }

    .add-container {
      display: flex;
      align-items: center;

      @include mobile {
        flex-direction: column;
      }

      input {
        margin-right: 30px;
        padding: 5px;
        text-align: center;
        border-radius: 10px;
        border: 2px solid $colorTitle;
        outline: none;
        @include mobile {
          margin-right: 0;
          flex-direction: column;
        }
      }

      .checkout {
        background-color: $colorNavBg;
        position: relative;
        cursor: pointer;
        border: 1px solid $colorTitle;
        outline: none;

        &:hover .s1 span {
          transform: translateY(-100%) rotateX(-90deg);
        }
        &:hover .s2 span {
          transform: translateY(0%) rotateX(0deg);
        }

        .span-container {
          padding: 10px 17px;
        }
      }

      .checkout span {
        font-family: "Caladea", sans-serif;
        color: $colorTitle;
        transition: 0.4s;
        will-change: transform;
        display: inline-block;
        font-size: 25px;
        @include mobile {
          font-size: 20px;
        }
      }

      .s1 span {
        transform-origin: bottom;
      }

      .s2 span {
        transform-origin: top;
        transform: translateY(100%) rotateX(-90deg);
      }

      .s2 {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .sold-out-showcase {
      transition: 0.5s all ease;
      color: rgb(160, 82, 82);
      font-size: 50px;
      letter-spacing: 3px;
      font-weight: bold;
      text-align: center;
    }

    .navigation {
      position: absolute;
      top: 0px;
      right: 10px;

      @include tablet {
        top: 110%;
        right: 50%;
        transform: translateX(50%);
      }

      button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid $colorTitle;
        cursor: pointer;
        transition: all 0.3s;
        color: $colorTitle;

        @include tablet {
          font-size: 0.9em;
          width: 40px;
          height: 40px;
        }

        &:hover {
          background-color: $colorTitle;
          color: white;
        }
      }
    }
  }
}
