@import "../../global.scss";
.product-showcase {
  position: relative;
  padding: 90px 5vw;
  display: flex;
  height: 100vh;

  @include tablet {
    flex-direction: column;
    height: auto;
  }

  .product-left {
    width: 50%;
    overflow-y: scroll;
    height: calc(100vh - 10vh);

    @include tablet {
      width: 100%;
      overflow-y: visible;
      height: auto;
    }
    img {
      width: 100%;
    }
  }

  ::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }

  .product-right {
    
    position: relative;
    width: 50%;
    height: calc(100vh - 10vh);
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.1em;

    @include tablet {
      width: 100%;
      height: auto;
      margin: 5vh 0 0 0;
      padding: 5vh 0 0 0;
      font-size: 0.9em;
      text-align: center;
    }

    .general-information {
      flex: 0.8;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include tablet {
        margin-bottom: 5vh;
        
      }
    }

    .color {

      @include tablet {
        margin: 5vh 0;
        text-align: center;
      }
      ul {
        display: flex;

        @include tablet {
          justify-content: center;
          align-items: center;
        }
        span {
          margin-right: 15px;
        }

        li {
          margin-right: 20px;
        }
      }
    }

    .dimensions {
      @include tablet {
        margin-bottom: 5vh;
      }
    }

    .add-container {
      
      display: flex;
      justify-content: space-around;
      align-items: center;
      .input-container {
       background-color: $colorTitle; 
       height: 20px;
       
       display: flex;
       justify-content: center;
       align-items: center;
       position: relative;
       border-radius: 10px;
       padding: 5px;

       span {
         margin: 0 5px;
         display: flex;
         justify-content: center;
         align-items: center;
         flex: 0.3;
         font-size: 1.5em;
        
        color: black;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
       }
      }
      input {
        padding: 5px;
        border-radius: 10px;
        flex: 0.7;
        text-align: center;
        font-size: 1em;
        border: none;
        background-color: white;
        width: 50px;
        
        

        &::-webkit-inner-spin-button {
          appearance: none;
        }
        
      }

      button {
        background-color: transparent;
        padding: 10px 17px;
        border: 1px solid $colorTitle;
        font-size: 1.1em;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        &:hover {
          
          background-color: $colorTitle;
          color: white;
          
        }
      }
    }

    .navigation {
      position: absolute;
      top: 0;
      right: 0;

      button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid $colorTitle;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          background-color: $colorTitle;
          color: white;

        }
      }
    }
  }
}
