@import "../../../global.scss";

.image-home-container {
  width: 100vw;
  height: 100vh;
  position: relative;

  @include desktop {
    height: auto;
  }

  img {
    width: 100%;
    min-width: 900px;
    
    
    
  }

  .text {
    width: 90%;
    margin: 0 5%;
    display: flex;
    position: absolute;
    bottom: 30%;

    li {
      text-transform: uppercase;
      list-style: none;
      width: 100%;
      text-align: center;
      color: white;
      font-size: clamp(20px, 7vw, 45px);
      opacity: 0;
    }
  }
}
