@import "../../global.scss";

.navbar {
  width: 100%;
  height: 90px;
  padding: 10px 0px;
  background-color: $colorNavBg;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  font-size: 18px;
  position: fixed;

  img {
    margin-left: 50px;
    width: 80px;
  }

  .link {
    width: 100%;
    display: flex;
    align-items: center;
    height: auto;
    position: relative;
    margin-left: 10vw;

    @include tablet {
      display: none;
    }
  }

  .nav-page {
    text-decoration: none;
    color: $colorNavText;
  }
  .nav-page:not(:nth-child(1)) {
    margin-left: 8vw;
  }

  .active-nav-page {
    color: $colorPointNav;
  }

  .anim-active {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: transparent;
    bottom: 30%;

    @include tablet {
      display: none;
    }
  }

  .anim-active-move {
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    transform: translateX(-50%);
    background-color: $colorPointNav;
    transition: all 0.5s ease-in;
  }

  .hamburger {
    z-index: 1000;
    position: absolute;
    right: 10%;
    width: 32px;
    height: 27px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    @include tablet {
      display: flex;
    }

    span {
      width: 100%;
      height: 3px;
      background-color: blue;
      transform-origin: left;
      transition: all 1s ease;
    }
  }
  .floating-cart {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    text-decoration: none;

    svg {
      stroke: $colorNavText;
    }

    .nb-items {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: orange;
      top: -15px;
      right: -15px;
    }
  }

  .floating-cart-active {
    svg {
      stroke: $colorPointNav;
    }
  }
  &.active {
    .hamburger {
      span {
        &:first-child {
          background-color: blue;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: blue;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.home-page {
  width: 100%;
  height: 90px;
  padding: 10px 0px;
  background-color: transparent;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 18px;
  position: fixed;

  img {
    margin-left: 50px;
    width: 80px;
  }

  .link {
    width: 100%;
    display: flex;
    align-items: center;
    height: auto;
    position: relative;
    margin-left: 10vw;

    @include tablet {
      display: none;
    }
  }
  .nav-page {
    text-decoration: none;
    color: white;
  }
  .nav-page:not(:nth-child(1)) {
    margin-left: 8vw;
  }

  .active-nav-page {
    color: $colorPointNav;
  }
  .anim-active {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: transparent;
    bottom: 30%;
  }

  .anim-active-move {
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    transform: translateX(-50%);
    background-color: $colorPointNav;
    transition: all 0.5s ease-in;

    @include tablet {
      display: none;
    }
  }

  .hamburger {
    position: absolute;
    right: 10%;
    width: 32px;
    height: 27px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    @include tablet {
      display: flex;
    }

    span {
      width: 100%;
      height: 3px;
      background-color: blue;
      transform-origin: left;
      transition: all 1s ease;
    }
  }

  .floating-cart {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    text-decoration: none;

    svg {
      stroke: white;
    }

    .nb-items {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: orange;
      top: -15px;
      right: -15px;
    }
  }

  .floating-cart-active {
    svg {
      stroke: $colorPointNav;
    }
  }

  &.active {
    .hamburger {
      span {
        &:first-child {
          background-color: blue;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: blue;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
